.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Specimens
        %small Your specimen list
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            %i.fa.fa-list.fa-fw
            Specimen List
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped
              %thead
                %tr
                  %th ID
                  %th Name
                  %th Sex
                  %th Multiplication
                  %th Body lenght
                  %th Molt
                  %th Buy date
                  %th Status
                  %th
              %tbody
                %tr
                  %td 1
                  %td Psalmopoeus Irminia
                  %td.female ♀
                  %td
                    %span.glyphicon.glyphicon-remove{style:'color:red'}
                  %td 5
                  %td 13
                  %td 2010-01-03
                  %td
                    %span.glyphicon.glyphicon-ok-circle{style:'color:green'}
                  %td.col-xs-1
                    .btn-group.btn-group-xs.pull-right
                      %button.btn.btn-warning
                        %span.glyphicon.glyphicon-edit
                      %button.btn.btn-danger
                        %span.glyphicon.glyphicon-remove
                %tr
                  %td 2
                  %td Psalmopoeus Irminia
                  %td.male ♂
                  %td
                    %span.glyphicon.glyphicon-remove{style:'color:red'}
                  %td 5
                  %td 13
                  %td 2010-01-03
                  %td
                    %span.glyphicon.glyphicon-ok-circle{style:'color:green'}
                  %td.col-xs-1
                    .btn-group.btn-group-xs.pull-right
                      %button.btn.btn-warning
                        %span.glyphicon.glyphicon-edit
                      %button.btn.btn-danger
                        %span.glyphicon.glyphicon-remove
                %tr
                  %td 3
                  %td Psalmopoeus Irminia
                  %td.female ♀
                  %td
                    %span.glyphicon.glyphicon-ok{style:'color:green'}
                  %td 5
                  %td 13
                  %td 2010-01-03
                  %td
                    %span.glyphicon.glyphicon-ok-circle{style:'color:green'}
                  %td.col-xs-1
                    .btn-group.btn-group-xs.pull-right
                      %button.btn.btn-warning
                        %span.glyphicon.glyphicon-edit
                      %button.btn.btn-danger
                        %span.glyphicon.glyphicon-remove