<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Multiplication</th>
            <th>Body lenght</th>
            <th>Molt</th>
            <th>Buy date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>